@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap');

:root {
    --body-bg: #292929;
    --text-color-global: rgb(208, 212, 216);
    --text-shadow-global: 0 0.08rem 0 #000;
    --head-text-shadow: 0 .1rem 0 #000;
    --head-bg: #222222;
    --head-box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.25);
    --body-bg-results: none;
    --table-alternate-bg: #353535;
}

[data-theme="light"] {
    --main-color: #06c;
    --accent-color: #006;
    --body-bg: rgba(227, 214, 204, 0.493);
    --text-color-global: #333;
    --text-shadow-global: 0 0.08rem 0 white;
    --head-text-shadow:0 .1rem 0 #d6d6d6;
    --head-bg: rgb(197 176 163);
    --head-box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.25);
    --body-bg-results: none;
    --table-alternate-bg: rgba(0, 0, 0, 0.1);
}

/* :root {
    --body-bg: #272B30;
    --text-color-global: rgb(197, 202, 206);
    --text-shadow-global: 0 0.08rem 0 #000;
    --head-text-shadow:0 .1rem 0 #000;
    --head-bg: #2e3235;
    --head-box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.25);
    --body-bg-results: none;
    --table-alternate-bg: #32383D;
} */
/* :root {
    --body-bg: #272B30;
    --text-color-global: rgb(197, 202, 206);
    --text-shadow-global: 0 0.08rem 0 #000;
    --head-text-shadow:0 .1rem 0 #000;
    --head-bg: #2e3235;
    --head-box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.25);
    --body-bg-results: none;
    --table-alternate-bg: #32383D;
} */

/* :root {
    --body-bg: #1e1e20;
    --text-color-global: rgb(197, 202, 206);
    --text-shadow-global: 0 0.08rem 0 #000;
    --head-text-shadow:0 .1rem 0 #000;
    --head-bg: #292b31;
    --head-box-shadow: 0 .2rem 0 rgba(0, 0, 0, 0.25);
    --body-bg-results: none;
    --table-alternate-bg: #282c2e;
} */



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 90%;
}

@media (max-width: 575.98px) {
    html {
        font-size: 76%;
    }
}

@media (max-width: 767.98px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 991.98px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 1199.98px) {
    html {
        font-size: 80%;
    }
}

body {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    color: var(--text-color-global);
    background-color: var(--body-bg);
    margin: 0;
    padding: 0;
    text-shadow: var(--text-shadow-global);
    box-sizing: border-box;
}

.icon {
    font-size: 2rem;
}

.icon-footer {
    font-size: 1.6rem;
}

.icon-footer-heart {
    color: rgb(240, 18, 18);
}

.footer-p {
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
}

.center {
    text-align: center
}

.footer-o {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}

a {
    color: rgb(223, 223, 223);
    text-decoration: underline
}

a:hover,
a:active,
a:visited {
    color: #333;
    text-decoration: none
}

#root {
    max-width: 75rem;
    margin: 0 auto
}

.result-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.result .result-head {
    cursor: pointer;
    text-shadow: var(--head-text-shadow);
    background-color: var(--head-bg);
    padding: 0.6rem;
    box-shadow: var(--head-box-shadow)
}

.result .result-body {
    background-color: var(--body-bg-results);
}

.result .result-body>table {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-spacing: 0
}

.result .result-body>table tr>td:nth-child(1) {
    border-radius: .4rem 0 0 .4rem;
}

.result .result-body>table tr>td:nth-child(2) {
    border-radius: 0 .4rem .4rem 0;
}

.result .result-body>table tr:first-child h2 {
    margin-top: 0
}

.result .result-body>table h2 {
    margin: 2.1rem 0 0.5rem
}

.result .result-body>table tr:nth-child(odd) {
    background-color: var(--table-alternate-bg)
}

.result .result-body>table tr.header {
    background-color: transparent
}

.result .result-body>table td {
    vertical-align: top;
    padding: 0.1rem 0.4rem
}

.result .result-body>table td:first-child {
    font-weight: bold;
    white-space: nowrap
}

footer {
    margin: 1.8rem 0 0.7rem;
}

#back-to-top {
    border-radius: 999rem;
    font-size: 1.4rem;
    width: 3.5rem !important;
    height: 3.5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 167, 0, 0.788);
}

/* ===================================== */

.theme-switch-wrapper {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.theme-switch-wrapper em {
    margin: 0 1rem;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 1.6rem;
    position: relative;
    width: 3rem;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: #fff;
    bottom: .1rem;
    content: "";
    width: 1.4rem;
    top: .1rem;
    left: .1rem;
    position: absolute;
    transition: 0.2s;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(1.4rem);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}